/* PAGE 2 */
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  background: url("http://www.free-icons-download.net/images/small-down-arrow-icon-15593.png");
  background-repeat: no-repeat;
  background-size: 16px 17px;
  background-position: right;
  background-origin: content-box;
}

.left-label {
  display: unset;
  font-weight: lighter;
  margin-left: 0.25rem;
  margin-right: 2rem;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  position: relative;
  border: 1px solid var(--grey);
  top: 0.5rem;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  background: var(--secondary);
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
}

.mt-extra {
  margin-top: 2rem;
}

/* PAGE 3 */
.extra-height {
  font-size: 1rem;
  min-height: 10rem;
}

input[type="checkbox"] {
  display: inline-block;
  width: auto;
  margin-right: 0.5rem;
}

#checkbox {
  display: inline-block;
}
